<!-- Top bar -->


    <!-- TODO Top bar Mobile hamburger menu-->


 
    <div class="flex flex-auto justify-between px-4 py-4 relative dark  w-full bg-gray-800 dark:bg-gray-900">
        <div class="flex auto ">
            <img class="w-24" src="assets/images/logo/zelo.png" alt="Logo image">
    
        </div>
        <div>
            <zelo-zelo-navigation></zelo-zelo-navigation>
        </div>

        <div class="">
            <a href="javascript:void(0)" (click)="languageChange(currentLang)">
                    <img src="{{imageSrc}}"/>
            </a>
        </div>
    </div>
    <div>

    </div>
