<div class="rounded-2xl">
    <!-- To Do : -->
    <br>

    <div class="flex flex-auto m-20 justify-center text-3xl font-bold pl-16 ">
        Robo will automatically allocate your USDC to the best yeild available in the
        market
        !</div>
    <br>
    <div class="flex flex-auto m-5 justify-center text-2xl">
        Current best rate is ..</div>
    <br>
    <div class="flex flex-auto m-5 justify-center">
        <button
            class="bg-transparent hover:bg-white font-semibold hover:text-black py-2 px-4 border border-gray-400 hover:border-transparent rounded">
            Submit funds to Robo
        </button>