<!-- Item wrapper -->
<div class="zelo-vertical-navigation-item-wrapper" [class.zelo-vertical-navigation-item-has-subtitle]="!!item.subtitle"
    [ngClass]="item.classes?.wrapper">

    <!-- Item with an internal link -->
    <a class="zelo-vertical-navigation-item" *ngIf="item.link && !item.externalLink && !item.function && !item.disabled"
        [ngClass]="{'zelo-vertical-navigation-item-active-forced': item.active}" [routerLink]="[item.link]"
        [routerLinkActive]="'zelo-vertical-navigation-item-active'" [routerLinkActiveOptions]="isActiveMatchOptions">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </a>

    <!-- Item with an external link -->
    <a class="zelo-vertical-navigation-item" *ngIf="item.link && item.externalLink && !item.function && !item.disabled"
        [href]="item.link" [target]="item.target || '_self'">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </a>

    <!-- Item with a function -->
    <div class="zelo-vertical-navigation-item" *ngIf="!item.link && item.function && !item.disabled"
        [ngClass]="{'zelo-vertical-navigation-item-active-forced': item.active}" (click)="item.function(item)">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </div>

    <!-- Item with an internal link and function -->
    <a class="zelo-vertical-navigation-item" *ngIf="item.link && !item.externalLink && item.function && !item.disabled"
        [ngClass]="{'zelo-vertical-navigation-item-active-forced': item.active}" [routerLink]="[item.link]"
        [routerLinkActive]="'zelo-vertical-navigation-item-active'" [routerLinkActiveOptions]="isActiveMatchOptions"
        (click)="item.function(item)">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </a>

    <!-- Item with an external link and function -->
    <a class="zelo-vertical-navigation-item" *ngIf="item.link && item.externalLink && item.function && !item.disabled"
        [href]="item.link" [target]="item.target || '_self'" (click)="item.function(item)">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </a>

    <!-- Item with a no link and no function -->
    <div class="zelo-vertical-navigation-item" *ngIf="!item.link && !item.function && !item.disabled"
        [ngClass]="{'zelo-vertical-navigation-item-active-forced': item.active}">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </div>

    <!-- Item is disabled -->
    <div class="zelo-vertical-navigation-item zelo-vertical-navigation-item-disabled" *ngIf="item.disabled">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </div>

</div>

<!-- Item template -->
<ng-template #itemTemplate>

    <!-- Icon -->
    <mat-icon class="zelo-vertical-navigation-item-icon" [ngClass]="item.classes?.icon" *ngIf="item.icon"
        [svgIcon]="item.icon"></mat-icon>

    <!-- Title & Subtitle -->
    <div class="zelo-vertical-navigation-item-title-wrapper">
        <div class="zelo-vertical-navigation-item-title">
            <span [ngClass]="item.classes?.title">
                {{item.title}}
            </span>
        </div>
        <div class="zelo-vertical-navigation-item-subtitle" *ngIf="item.subtitle">
            <span [ngClass]="item.classes?.subtitle">
                {{item.subtitle}}
            </span>
        </div>
    </div>

    <!-- Badge -->
    <div class="zelo-vertical-navigation-item-badge" *ngIf="item.badge">
        <div class="zelo-vertical-navigation-item-badge-content" [ngClass]="item.badge.classes">
            {{item.badge.title}}
        </div>
    </div>

</ng-template>