<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="zelo-card-front">
        <ng-content select="[zeloCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="zelo-card-back">
        <ng-content select="[zeloCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div class="zelo-card-expansion" *ngIf="expanded" [@expandCollapse]>
        <ng-content select="[zeloCardExpansion]"></ng-content>
    </div>

</ng-container>