/* You can add global styles to this file, and also import other style files */
// html, body .light{ height: 100%; background-color:rgb(226, 28, 28);}
// html, body .dark{ height: 100%; background-color:rgb(62, 8, 179);}
body { margin: 0; font-family: Roboto; }

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/fonts/fonts.scss'; //import roboto font
