<page-container>
    <!-- To Do : -->

    <p class="m-15 text-lg font-bold pl-16">Wallet Balance (In USDC)</p>
    <table class="rounded-t-lg m-5 w-2/4 mx-30 text-black-100 bg-gradient-to-l from-indigo-500 to-indigo-800">
        <tr class="text-left border-b-2 border-grey-300">
            <th class="px-4 py-3">Provider</th>
            <th class="px-4 py-3">Interest</th>

        </tr>
        <tr class="border-b border-grey-400">
            <td class="px-4 py-3">Nexo</td>
            <td class="px-4 py-3">13%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->
        <tr class="border-b border-grey-400">
            <td class="px-4 py-3">Celcius</td>
            <td class="px-4 py-3">12%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->
        <tr class="border-b border-grey-400">
            <td class="px-4 py-3">Crypto.com</td>
            <td class="px-4 py-3">12.5%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->

    </table>
</page-container>