<page-container>
    <!-- To Do : -->

    <p class=" flex m-20 justify-center text-3xl font-bold pl-16 relative dark bg-gray-800 dark:bg-gray-900">Wallet
        Balance (In USDC)</p>
    <div class="flex flex-auto">
        <table class=" flex-auto text-center  rounded-t-lg m-5 w-2/4 mx-30  ">
            <tr class="  text-2xl text-center text-white border-b ">
                <th class="px-4 py-3">Provider</th>
                <th class="px-4 py-3">Interest</th>

            </tr>
            <tr class="text-white border-b ">
                <td class="px-4 py-3">Nexo</td>
                <td class="px-4 py-3">13%</td>
                <td class="px-4 py-3 text-sm font-medium">
                    <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                        Allocate
                    </button>

                </td>
            </tr>
            <!-- each row -->
            <tr class=" text-white border-b ">
                <td class="px-4 py-3">Celcius</td>
                <td class="px-4 py-3">12%</td>
                <td class="px-4 py-3 text-sm font-medium">
                    <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                        Allocate
                    </button>

                </td>
            </tr>
            <!-- each row -->
            <tr class=" text-white border-b ">
                <td class="px-4 py-3">Crypto.com</td>
                <td class="px-4 py-3">12.5%</td>
                <td class="px-4 py-3 text-sm font-medium">
                    <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                        Allocate
                    </button>

                </td>
            </tr>
            <!-- each row -->

        </table>
    </div>
</page-container>