<page-container>
    <!-- To Do : -->

    <p class=" flex m-20 justify-center text-lg font-bold pl-16 relative dark bg-gray-800 dark:bg-gray-900">Wallet
        Balance (In USDC)</p>
    <table class=" flex-auto rounded-t-lg m-5 w-2/4 mx-30 ">
        <tr class=" text-white text-left border-b-2">
            <th class="px-4 py-3">Provider</th>
            <th class="px-4 py-3">Interest</th>

        </tr>
        <tr class="text-white border-b ">
            <td class="px-4 py-3">Nexo</td>
            <td class="px-4 py-3">13%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->
        <tr class=" text-white border-b ">
            <td class="px-4 py-3">Celcius</td>
            <td class="px-4 py-3">12%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->
        <tr class=" text-white border-b ">
            <td class="px-4 py-3">Crypto.com</td>
            <td class="px-4 py-3">12.5%</td>
            <td class="px-4 py-3 text-sm font-medium">
                <button class="bg-white hover:border-gray-400 text-black font-bold py-2 px-4 rounded">
                    Allocate
                </button>

            </td>
        </tr>
        <!-- each row -->

    </table>
</page-container>